<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Join</title>
</head>
<body>
    <div class="py-5 text-center">
        <h2>Join</h2>
    </div>

    <form action="/join" method="post">
        Id: <input type="text" name="userId"/><br/>
        Pw: <input type="text" name="pw"/><br/>
        Nick: <input type="text" name="nick"/><br/>
        <input type="submit" value="Save"/>
    </form>
</body>
</html>